a:link, a:visited, a:active {
    font-weight: bolder;
    text-decoration:none;
    color: white;
}
a:hover{
    opacity: 0.8;
}
.footer{
    color: white;
    font-size: 13px;
    font-weight: 500;
    position: absolute;
    top: 15px;
    right: 20px;
}